Source: torbirdy
Section: web
Priority: optional
Maintainer: Jacob Appelbaum <jacob@appelbaum.net>
Build-Depends: cdbs, debhelper (>= 9), mozilla-devscripts (>= 0.16~)
Standards-Version: 3.9.4
Homepage: https://www.github.com/ioerror/torbirdy

Package: xul-ext-torbirdy
Architecture: all
Depends: ${misc:Depends}
Recommends: make, ${xpi:Recommends}
Provides: ${xpi:Provides}
Enhances: ${xpi:Enhances}
Description: configures and enhances various Mozilla birds for anonymity use
 The TorBirdy extension configures Thunderbird (or Icedove, etc) to make
 connections over the Tor anonymity network. It also takes steps to protect
 anonymity at the application level by reducing uniquie identifiers, disabling
 unsafe plugins, disabling insecure protocols, helpfully configuring other
 software such as Enigmail and GnuPG in anonymity protecting ways and more. It
 also helps to ease configuration with other anonmity networks and proxies such
 as JonDos.
